{% extends 'base.html' %}

{% block title %}Редактирование задач{% endblock %}

{% block body %}
    {% if task_set %}
        <h2>Задачи {{task_set.name}}</h2>
        {% for task in task_set.tasks %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-title">
                        <h3>
                            {{task.name}}
                        </h3>
                    </div>
                    <div class="card-text text-muted">
                        Баллы: {{task.base_score}}
                    </div>
                    <a href="{{url_for('task_edit_page', task_id=task.id)}}">
                        Редактировать
                    </a>
                </div>
            </div>
        {% endfor %}
        <h2>Добавить задачу</h2>
        {% include 'task_edit_form.html' %}
    {% endif %}
    <div class="mt-5 mb-5">
        <form method="POST" action="{{url_for('choose_task_set')}}">
            <div class="form-row mb-2">
                <div class="col-md-10">
                    <select id="task_set" name="task_set" class="custom-select">
                        {% for task_set in task_set_list %}
                            <option value="{{task_set.id}}" {% if task_set.active %}selected{% endif %}>
                                {{task_set.name}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" class="btn btn-primary col-md-2" value="Выбрать набор задач">
            </div>
        </form>
        <form method="POST" action="{{url_for('add_task_set')}}">
            <div class="form-row">
                <div class="col-md-10">
                    <input name="name" id="name" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary col-md-2" value="Добавить набор задач">
            </div>
        </form>
    </div>
{% endblock %}
