{% extends 'base.html' %}

{% block title %}{{task.order}}. {{ task.name }}{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-4 offset-4">
			<h3>{{ task.order }}{{ task.name }}</h3>
			<p class="score">Балл: {{ thread.score }} из {{ task.base_score }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-8 offset-2">
			{% for post in thread.ordered_posts(show_hidden=g.user.is_teacher): %}
				{% if post.author.is_teacher %}
					{% if post.hide_from_student %}
						{% set post_klass = 'post-teacher-hidden' %}
					{% else %}
						{% set post_klass = 'post-teacher' %}
					{% endif %}
				{%else%}
					{% set post_klass = 'post-student' %}
				{%endif%}
				<div class="post {{post_klass}} ">
					<div class="post-date">{{ post.date.strftime('%d %B, %H:%M') }}</div>
					<div class="post-body">{{ post.text }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="row">
		<div class="col-8 offset-2">
			<hr/>
			<form id="post-form" action="{{ url_for('send_post_to_thread', thread_id=thread.id) }}" method="POST">
				<textarea name="text" placeholder="Решение задачи" id="post-textarea"></textarea>
				{% if g.user.is_teacher: %}
					<div class="form-check">
					  <input class="form-check-input" type="checkbox" name="hide_from_student" value="hide_from_student" id="hide_from_student">
					  <label class="form-check-label" for="hide_from_student">
					    Скрыть комментарий от школьника
					  </label>
					</div>
				{% endif %}
				<button class="btn btn-primary float-right" type="submit">Отправить</button>
			</form>
		</div>
	</div>
	{% if g.user.is_teacher %}
		<hr/>
		<div class="row score-form">
			<div class="col-4 offset-4">
				<form action="{{ url_for('update_score', thread_id=thread.id) }}" method="POST">
					<div class="form-group row">
						<label for="score-setter" class="col-form-label col-2">Балл:</label>
						<div class="col-5">
							<input type="text" pattern="\d+(\.\d*)?" name="score" value={{ thread.score }} class="form-control" id="score-setter">
						</div>
						<div class="col-5">
							<button class="btn btn-primary" type="submit">Оценить</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    {% endif %}
{% endblock %}
