{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-4 offset-4">
			<form method="POST">
				<div class="form-group row">
					<label class="col-4" for="username">Логин:</label>
					<input class="col-8 form-control" name="username" id="username" required>
				</div>
				<div class="form-group row">
					<label class="col-4" for="password">Пароль:</label>
					<input class="col-8 form-control" type="password" name="password" id="password" required>
				</div>
				<input type="submit" class="btn btn-primary" value="Войти">
			</form>
		</div>
	</div>
{% endblock %}
